.img-avatar {
    width: 50px;
    border-radius: 50%;
}

.text-box {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(108, 233, 108);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.sent {
justify-content: end;
}

.received .text-box {
    background-color: white;
}

.background {
    background-image: url(../img/mine.jpg);
    width: 100%;
    min-height: 500px;
    padding: 30px;
    border-radius: 10px;
}