.img-avatar {
    width: 50px;
    border-radius: 50%;
}

.text-box {
    min-height: 50px;
    max-width: 250px;
    border-radius: 10px;
    background-color: rgba(16, 227, 114, 1);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.sent {
    justify-content: end;
}

.received .text-box {
    background-color: white;
}

.background {
    background-image: url(../img/mine.jpg);
    width: 100%;
    min-height: 500px;
    padding: 30px;
    border-radius: 10px;
}

.bg-success {
    background: linear-gradient(180deg, rgba(16, 227, 114, 1) 0%, rgba(15, 208, 115, 1) 0%, rgba(238, 232, 171, 1) 21%, rgba(234, 224, 110, 1) 100%, rgba(202, 255, 0, 1) 100%);
}